@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
/* In your globals.css */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}